
.col-xs.sidevar{
    min-height: 1000px;
    background-color: #343a40;
    box-shadow: 0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12);
}


.card {
    margin: 5%;
    border: 0;
}

h5.card-tittle {
    margin-bottom: 8%;
}

button.btn.btn-success {
    margin-top: 3%;
}

select.form-control.form-control-lg {
    font-size: 90%;
    margin-bottom: 5%;
}

ngb-alert.alert.alert-warning {
    margin-top: 5%;
}


