.col-xs.sidevar{
    min-height: 1000px;
    background-color: #343a40;
    box-shadow: 0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12);
}

select.form-control.form-control-lg {
    font-size: 85%;
}

.card {
    box-shadow: 0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12);
}



  button.btn.btn-success {
    margin: 1%;
    width: auto;
}

button.btn.btn-secondary.btn-back{
    margin: 3%;
    width: 25%;
    position: relative;
    left: 71%;
}

button.btn.btn-success.btn-back{
    margin: 3%;
    width: 25%;
}


.container-details{
    float: left;
    margin: 3%;
}

.form-control {
    margin-top: 3%;
}

button.btn.btn-outline-secondary.calendar {
    top: 9px;
    position: relative;
    width: 2.75rem;
    background-image: url(../../../image/outline-calendar_today-24px.svg)!important;
    background-repeat: no-repeat;
    background-size: 23px;
    background-position: center;
    height: 81%;
}

button.btn.btn-success.save {
    margin-top: 3%;
}

button.btn.btn-danger.float-right.deleted{
    margin: 3%;
    margin-right: 38%;
    padding-right: 3%;
    width: -moz-fit-content;
}

button.btn.btn-danger.cancel {
    margin-top: 2%;
    margin-left: 3%;
}